<div class="panel">
    <div class="panel-heading"></div>
    <div class="panel-body">
        <h4 class="text-center">{{sample.title}} <small>{{sample.subreddit}}</small></h4>
        <p class="show-white-space">{{sample.content}}</p>
        <p class="text-center"> Should this post be flagged for review?</p>
        <div class="btn-group btn-group-justified">
            <a class="btn btn-success" ng-click="label(true)">yes</a>
            <a class="btn btn-danger" ng-click="label(false)">no</a>
        </div>
    </div>
</div>